.investment {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(20px, 3rem, 50px);

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 20px;
    }

    @include for-width(-mobile-md) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  &__item {
    border: 1px solid var(--color-white);
    padding: rem(100) rem(30);

    .card-title {
      margin: 0;
    }
  }
}
