.profit {
  margin-bottom: rem(190);

  &__content {
    display: flex;
    gap: rem(70);

    @include for-width(-tablet) {
      flex-direction: column;
      gap: rem(30);
    }
  }

  .text {
    text-align: left;

    @include for-width(-tablet) {
      text-align: justify;
    }
  }

  @include for-width(-desktop-med) {
    margin-bottom: rem(100);
  }

  @include for-width(-mobile-l) {
    margin-bottom: rem(50);
  }
}
