.advantages {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 6%;
    bottom: 2%;
    z-index: -2;
    width: 86px;
    height: 86px;
    background-image: url("../img/sprite.svg#chemical");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    right: 4%;
    bottom: 2%;
    z-index: -2;
    width: 93px;
    height: 105px;
    background-image: url("../img/sprite.svg#small-hexan");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: rem(70);
    gap: rem(51);

    @include for-width(-desktop-lg) {
      gap: rem(20);
    }

    @include for-width(-mobile-l) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      gap: 10px;
      margin-bottom: rem(50);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    text-align: center;
    position: relative;
    border: 1px solid var(--color-white);
    padding: clamp(20px, 3.125rem, 60px);
    transition-property: box-shadow, border;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    cursor: pointer;

    width: 100%;
    max-width: 322px;

    &:hover {
      border: 1px solid var(--color-active);
      box-shadow: 12px 12px 25px var(--color-active) inset;
    }

    h3 {
      min-height: 70px;

      @include for-width(-mobile-l) {
        margin: 0 0 15px 0;
      }
    }

    span {
      @include adaptive_size("font-size", 100, 45);

      display: inline-block;
      margin-bottom: rem(26);
      font-weight: 900;
      font-feature-settings: "pnum"on, "lnum"on;
      line-height: 1;
      color: var(--color-blue);
    }

    p {
      margin-top: auto;
    }

    @include for-width(-desktop-lg) {
      padding: rem(20);
    }

    //  @include for-width(-mobile-l) {
    //    width: 80%;
    //  }
  }
}