.advantages {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 2%;
    z-index: -2;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::before {
    left: 6%;
    width: 86px;
    height: 86px;
    background-image: url("../img/sprite.svg#chemical");
  }

  &::after {
    right: 4%;
    width: 93px;
    height: 105px;
    background-image: url("../img/sprite.svg#small-hexan");
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: rem(70);
    gap: rem(51);

    @include for-width(-desktop-lg) {
      gap: rem(20);
    }

    @include for-width(-mobile-md) {
      justify-items: center;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: rem(50);
    }

    li {
      @include flex-cc;

      position: relative;
      border: 1px solid var(--color-white);
      padding: clamp(20px, 3.125rem, 60px);
      width: 100%;
      text-align: center;
      transition-property: box-shadow, border;
      transition-duration: 0.3s;
      transition-timing-function: linear;
      cursor: pointer;

      &:hover {
        border: 1px solid var(--color-active);
        box-shadow: 12px 12px 25px var(--color-active) inset;
      }

      @include for-width(-desktop-lg) {
        padding: clamp(5px, 1.125rem, 10px);
      }

      @include for-width(-mobile-l) {
        padding: 5px;
      }
    }

    h3 {
      margin: 0;
      min-height: 76px;

      @include for-width(-tablet) {
        @include flex-v-center;
      }
    }

    span {
      @include adaptive_size("font-size", 100, 30);

      display: inline-block;
      margin-bottom: rem(26);
      font-weight: 900;
      font-feature-settings: "pnum"on, "lnum"on;
      line-height: 1;
      color: var(--color-blue);

      @include for-width(-tablet) {
        margin-bottom: 10px;
      }
    }

    p {
      display: flex;
      align-items: center;
    }
  }
}