.hero {
  position: relative;
  padding-top: rem(52);

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::before {
    left: rem(15);
    top: -47%;
    width: 704px;
    height: 700px;
    background-image: url("../img/sprite.svg#hexan");

    @include for-width(-desktop-med) {
      top: 10%;
      width: 304px;
      height: 300px;
    }

    @include for-width(-mobile-l) {
      top: 0;
      width: 230px;
      height: 230px;
    }
  }

  &::after {
    right: 0;
    bottom: -25%;
    width: 245px;
    height: 245px;
    background-image: url("../img/sprite.svg#hexan");
    transform: rotate(-180deg);
  }

  &__title {
    @include adaptive_size("font-size", 50, 24);

    margin-bottom: rem(31);
    width: 100%;
    max-width: 1040px;
  }

  &__text {
    margin: 0 auto rem(52);
  }

  &__content {

    @include for-width(-mobile-sl) {
      flex-direction: column;
    }
  }

  @include for-width(-tablet) {
    padding-top: rem(25);
  }
}