.error-page {
  padding: clamp(15px, 3.125rem, 50px) 0;

  .logo {
    margin-bottom: rem(85);
  }

  &__img {
    margin: 0 auto rem(70);
    max-width: fit-content;
  }

  &__title {
    margin: 0 auto rem(70);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }

  &__btns {
    @include flex-all-center;
    gap: rem(50);

    @include for-width(-mobile-l) {
      gap: rem(15);
    }

    @include for-width(-mobile-sl) {
      flex-direction: column;
    }
  }

  .btn--cursor {
    border: 1px solid var(--color-white);
    background-color: transparent;

    @include for-width(-mobile-l) {
      padding: rem(15) rem(32) rem(15) rem(32);

      &::before {
        right: 4px;
      }
    }
  }
}