.article {
  @include flex-c;

  position: relative;
  border: 1px solid var(--color-white);
  height: 100%;
  transition: border 0.3s linear;

  &__content {
    @include flex-c;

    flex: 1;
    padding: rem(33) rem(51) rem(49);

    @include for-width(-desktop-med) {
      padding: rem(10);
    }
  }

  h3 {
    margin-bottom: 14px;
  }

  &__timeline {
    @include flex-all-sb;

    margin-top: auto;
  }

  &__text {
    margin-bottom: rem(28);
  }

  span {
    margin-right: 10px;
    font-size: 14px;
    color: var(--color-grey);
  }

  &:hover {
    border: 1px solid var(--color-active);
  }
}