.article {
  position: relative;
  border: 1px solid var(--color-white);
  transition: border 0.3s linear;
  cursor: pointer;
  height: 100%;
  @include flex-c;

  @include for-width(-mobile-sl) {
    width: 100%;
    max-width: 300px;
  }

  &:hover {
    border: 1px solid var(--color-blue);

    h3 {
      color: var(--color-blue);
    }
  }

  &__content {
    padding: rem(33) rem(51) rem(49);

    @include flex-c;
    flex: 1;

    @include for-width(-desktop-med) {
      padding: rem(23) rem(30) rem(20);
    }

    // @include for-width(-mobile-sl) {
    //   padding: 10px;
    // }
  }

  h3 {
    margin-bottom: 14px;
    transition: color 0.3s linear;
  }

  &__timeline {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: rem(28);
  }

  span {
    margin-right: 10px;
    font-size: 14px;
    color: var(--color-grey);
  }
}