.footer {
  padding: rem(70) 0;
  background-color: var(--color-bunker);

  @include for-width (-tablet) {
    padding: rem(50) 0;
  }

  &__top {
    @include flex-all-center;

    margin-bottom: rem(48);
  }

  &__bottom {
    // @include flex-sb;
    // align-items: center;

    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 2fr 1fr 2fr;
    // text-align: center;

    // @include for-width (-mobile-md) {
    //  flex-wrap: wrap;
    //   text-align: center;
    //   gap: 25px;
    // }

    &-link {
      justify-self: center;
      text-align: center;
      line-height: 1.7;
      text-decoration: underline;
      transition: color 0.3s linear;

      &:hover {
        color: var(--color-blue);
      }

      @include for-width(-mobile-md) {
        justify-self: end;
      }
    }

    @include for-width(-mobile-md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }

  &__copyright {
    @include for-width(-tablet) {
      span {
        display: block;
      }
    }
  }

}

.footer-develop {
  display: flex;
  justify-self: end;


  @include for-width(-tablet) {
    flex-direction: column;
  }

  @include for-width(-mobile-md) {
    grid-column: 1/3;
    margin: 0 auto;
  }

  &__link {
    @include flex-all-center;

    width: 100%;
    height: 25px;
    max-width: 150px;
  }
}