.form {
  &__box {
    position: relative;
    margin-bottom: rem(50);

    // input:focus+label {
    // transform: translateY(-100%);
    //   font-size: 14px;
    //   transition: font-size 0.2s linear, transform 0.2s linear;
    // }

    // input:valid+label {
    //   top: -20px;
    //   font-size: 14px;
    //   transition: font-size 0.2s linear, top 0.2s linear;
    // }
  }

  .btn {
    width: 100%;
    max-width: 100%;
  }

  &__input {
    appearance: none;
    outline: 0;
    border: none;
    border-bottom: 1px solid var(--color-gray);
    padding: 8px;
    width: 100%;
    color: var(--color-gray);
    background-color: transparent;
    transition-property: font-size, transform, color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-gray);
    transition-property: font-size, transform, color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    pointer-events: none;
  }

  &__check {
    display: block;
    margin-bottom: rem(50);
  }
}

.form__input:focus~.form__label,
.form__input:valid~.form__label {
  transform: translateY(-100%);
  font-size: 14px;
  color: var(--color-active);
}

.custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    @include flex-all-center;
    padding-left: 50px;
    font-size: 14px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      border: 1px solid var(--color-white);
      width: 20px;
      height: 20px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      mask-image: url("../img/sprite.svg#check-mark");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 12px 12px;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      background-color: var(--color-white);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    // @include for-width(-mobile-l) {
    //   font-size:12px;
    // }
  }
}

.custom-checkbox__field:checked+.custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
  outline: 2px solid var(--color-blue);
  outline-offset: 2px;
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}