.header {
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 10px;
  padding: rem(63) 0 rem(62);
  background-color: var(--color-black);

  @include for-width(-tablet) {
    margin-bottom: 10px;
    padding: 20px 0;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-41%);

    @include for-width(-tablet) {
      transform: translateY(-50%);
    }
  }

  &.hide {
    top: calc(var(--header-height) * -1);
  }

  &__contact {
    position: relative;
    display: none;
    margin-right: auto;

    &::before {
      content: "";
      position: absolute;
      top: -22px;
      mask-image: url("../img/sprite.svg#old-phone");
      mask-position: bottom;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 25px;
      height: 25px;
      background-color: var(--color-white);
      transition: background-color 0.3s linear;
    }

    &:hover::before {
      background-color: var(--color-active);
    }

    @include for-width(-tablet) {
      display: block;
    }
  }
}