.graph-modal {

  .form {
    .btn--cursor {
      width: 100%;
    }
  }

  &__container {
    padding: rem(70) rem(200);
    background-color: var(--color-black);

    @include for-width(-mobile-l) {
      padding: rem(50);
    }

    @include for-width(-mobile-l) {
      padding: rem(20);
    }
  }

  &__title {
    @include h1;

    margin: 0 auto rem(40);
    width: 100%;
    max-width: 485px;
  }

  &__close {
    right: 4%;
    top: 4%;
    width: 25px;
    height: 25px;
    background-image: url("../img/sprite.svg#close");
  }
}