.graph-modal {

  .form {
    .btn--cursor {
      width: 100%;
    }

    .custom-checkbox__content {
      @include for-width(-mobile-l) {
        min-height: 50px;
        font-size: 10px;
      }
    }
  }

  &__container {
    padding: rem(70) rem(200);
    background-color: var(--color-black);
    text-align: center;

    @include for-width(-mobile-l) {
      padding: rem(50);
    }

    &--chats {
      padding: rem(70) rem(100);
      width: 100%;
      max-width: 500px;
    }
  }

  &__title {
    @include h1;

    margin: 0 auto rem(40);
    width: 100%;
    max-width: 485px;
  }

  &__close {
    right: 4%;
    top: 4%;
    mask-image: url("../img/sprite.svg#close");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 25px;
    height: 25px;
    background-color: var(--color-white);
    transition: background-color 0.3s linear;

    &:hover {
      background-color: var(--color-blue);
    }

    @include for-width(-tablet) {
      width: 20px;
      height: 20px;
    }
  }
}