.nav {
  position: relative;

  @include for-width(-tablet) {
    position: absolute;
    left: 0;
    top: var(--header-height);
    overflow-y: auto;
    padding: rem(25);
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--color-black);
    transform: translateX(-100%);
    transition: translate 0.3s linear;

    &.menu--active {
      transform: translate(0);
    }

    .nav__item {
      font-size: 16px;
      margin: 0;
      margin-bottom: 30px;
    }

    .nav__item--location {
      position: relative;
      bottom: 0;
      order: 1;
    }

    .nav__item--phone {
      position: relative;
      bottom: 0;
      order: 1;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include for-width(-tablet) {
      flex-direction: column;
      align-items: flex-start;
    }

    &--dropdown {
      position: absolute;
      top: 100%;
      z-index: 60;
      display: block;
      border: 1px solid var(--color-active);
      padding: 20px;
      width: 200px;
      height: auto;
      background-color: var(--color-black);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s linear, visibility 0.3s linear;

      .nav__item {
        margin: 0;
        padding: 10px 0;

        &:nth-child(odd) {
          margin: 0;
        }
      }

      &.open {
        opacity: 1;
        visibility: visible;

        @include for-width(-tablet) {
          display: block;
        }
      }

      @include for-width(-tablet) {
        position: relative;
        display: none;
        border: none;
        transform: translateX(0);
      }
    }
  }

  &__item {
    position: relative;
    margin-right: rem(61);


    &--location {
      position: absolute;
      bottom: -55px;
      margin: 0;
    }

    &--phone {
      position: absolute;
      right: 0;
      bottom: -55px;
      margin: 0;
    }

    &:nth-child(odd) {
      margin-right: rem(85);

      @include for-width(-desktop-med) {
        margin-right: rem(51);
      }
    }

    &:nth-child(4) {
      margin-right: auto;
    }

    &:nth-child(n+7) {
      margin-right: 0;
    }

    &:hover {
      .nav__list--dropdown {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      }
    }

    @include for-width(-desktop-med) {
      margin-right: rem(31);
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    transition: color 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentcolor;
      transform: scale(0);
      transform-origin: center;
      transition: transform 0.3s linear;
    }

    &:focus {
      outline: 2px solid var(--color-active);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-blue);

      &::before {
        transform: scale(1);
      }
    }

    &:active {
      color: var(--color-active);
    }

    &--dropdown {
      cursor: pointer;
      position: relative;

      &::before {
        content: none;
      }

      &::after {
        --rotate: rotate(90deg);

        content: "";
        position: absolute;
        right: -38%;
        top: 50%;
        mask-image: url("../img/sprite.svg#small-arrow");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;
        width: 12px;
        height: 12px;
        background-color: currentcolor;
        transform: translateY(-50%) var(--rotate);
        transition: transform 0.3s linear;
      }

      &:hover {
        &::after {
          --rotate: rotate(-90deg);

          transform: translateY(-50%) var(--rotate);
        }
      }

      &:active {
        &::after {
          --rotate: rotate(-90deg);

          transform: translateY(-50%) var(--rotate);
        }
      }
    }
  }
}