.news {
  position: relative;


  &::before {
    left: 12%;
    top: -9%;
    width: 338px;
    height: 338px;
    background-image: url("../img/sprite.svg#hexan");
  }

  &::after {
    right: 0;
    bottom: -15%;
    width: 392px;
    height: 392px;
    background-image: url("../img/sprite.svg#hexan");
    transform: rotate(-180deg);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @include for-width(-tablet) {
      width: 238px;
      height: 238px;
    }
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: rem(70);
    gap: rem(50);

    @include for-width(-tablet) {
      gap: rem(25);
    }

    @include for-width(-mobile-l) {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(10);
    }

    @include for-width(-mobile-sl) {
      justify-items: center;
      grid-template-columns: repeat(1, 1fr);
    }

    &--production {
      @include for-width(-mobile-l) {
        .news__item:last-child {
          grid-column: 1/3;
          margin: 0 auto;
        }
      }

      @include for-width(-mobile-sl) {
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);

        .news__item:last-child {
          grid-column: auto;
          margin: 0 auto;
        }
      }
    }
  }

  &__item {
    @include for-width(-tablet) {
      .article__content {
        padding: 10px;
      }

      @include for-width(-tablet) {
        width: 100%;
        max-width: 350px;
      }
    }
  }

  &__more {
    margin: 0 auto;
  }
}

.news-slider {
  overflow: hidden;

  &__list {
    margin-bottom: rem(72);
  }

  &__item {
    height: auto;
  }
}