.pagination {
  @include flex-all-center;

  li {
    border: 1px solid var(--color-white);

    transition: border 0.3s linear;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:nth-child(4n) {
      align-items: baseline;
      border: none;
      font-size: 30px;

      &:hover {
        border: none;
      }
    }

    &:hover {
      border: 1px solid var(--color-blue);
    }
  }

  a {
    @include flex-all-center;

    width: 40px;
    height: 40px;

    &--active {
      background-color: var(--color-active);
    }
  }
}