.stages {
  position: relative;
  margin-bottom: rem(190);

  &::before {
    content: "";
    position: absolute;
    left: 10%;
    top: -20%;
    z-index: -2;
    width: 220px;
    height: 220px;
    background-image: url("../img/sprite.svg#hexan");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @include for-width(-mobile-l) {
      top: -1%;
    }
  }

  &__title {
    @include adaptive_size("font-size", 25, 20);

    margin-bottom: rem(30);
    font-weight: 500;
  }

  &__list {
    counter-reset: li;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(50);

    li {
      position: relative;
      border: 1px solid var(--color-white);
      padding: clamp(20px, 1.95rem, 30px);
      letter-spacing: 0.038em;
      text-align: center;
      transition-property: box-shadow, border;
      transition-duration: 0.3s;
      transition-timing-function: linear;
      cursor: pointer;

      &::before {
        @include adaptive_size("font-size", 100, 25);

        counter-increment: li;
        content: counter(li, decimal-leading-zero);
        display: block;
        font-weight: 900;
        line-height: 1;
        letter-spacing: 0.07em;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-blue);

        @include for-width(+ desktop-xl) {
          font-size: 100px;
        }
      }


      &:last-child {
        @include for-width(-mobile-md) {
          grid-column: 2 span;
        }

        @include for-width(-mobile-s) {
          grid-column: auto;
        }
      }

      span {
        @include adaptive_size("font-size", 80, 20);

        display: block;
        margin-bottom: rem(33);
        font-weight: 900;
        line-height: 1;
        letter-spacing: 0.07em;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-blue);

        @include for-width(+ desktop-xl) {
          font-size: 80px;
        }

        @include for-width(-mobile-l) {
          margin-bottom: rem(20);
        }
      }

      a {
        text-decoration: underline;
        transition: color 0.3s linear;

        &:hover {
          color: var(--color-active);
        }
      }

      &:hover {
        border: 1px solid var(--color-active);
        box-shadow: 12px 12px 25px var(--color-active) inset;
      }

      @include for-width(-desktop-s) {
        padding: clamp(10px, 0.6rem, 15px);
      }
    }

    @include for-width(-desktop-lg) {
      text-align: center;
      gap: rem(30);
    }

    @include for-width(-mobile-md) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 20px;
    }

    @include for-width(-mobile-s) {
      grid-template-columns: repeat(1, 1fr);
    }

    &--implantation {
      grid-template-columns: repeat(2, 1fr);

      li {
        padding: rem(28) rem(52);
        letter-spacing: 0.06em;

        h3 {

          @include for-width(-mobile-l) {
            @include flex-all-center;

            margin-bottom: rem(20);
            min-height: rem(50);
          }
        }

        @include for-width(-tablet) {
          padding: 10px;

          &:last-child {
            grid-column: auto;
          }
        }

        @include for-width(-mobile-sl) {
          padding: 10px;
        }
      }

      @include for-width(-mobile-s) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &--cad {
      @include for-width(-desktop-lg) {
        text-align: center;
      }

      li {
        p {
          @include flex-all-center;
          min-height: 80px;
        }

        &:last-child {
          @include for-width(-tablet) {
            grid-column: auto;
          }
        }
      }
    }
  }

  @include for-width(-desktop-med) {
    margin-bottom: rem(100);
  }

  @include for-width(-mobile-l) {
    margin-bottom: rem(30);
  }
}