.tabs {
  color: var(--color-white);

  @include for-width(-desktop-med) {
    @include flex-sb;
  }

  @include for-width(-mobile-l) {
    display: block;
  }

  &__nav {
    @include flex;

    margin-bottom: rem(70);
    gap: 15px;

    @include for-width(-desktop-med) {
      flex-direction: column;
      gap: 5px;
      margin: 0;
      margin-right: rem(15);
      position: sticky;
      height: fit-content;
      top: 60px;
      width: 100%;
      max-width: 250px;
    }

    @include for-width(-mobile-l) {
      display: flex;
      flex-direction: inherit;
      margin: 0;
      max-width: 100%;
      margin-bottom: 15px;
      top: 0;
      gap: 10px;
    }
  }

  &__nav-btn {
    border: 1px solid var(--color-white);
    padding: rem(18) rem(45);
    white-space: nowrap;
    color: var(--color-white);
    transition: background-color 0.3s linear;

    &:hover {
      background-color: var(--color-blue);
    }

    @include for-width(-desktop-lg) {
      padding: rem(18) rem(25);
    }

    @include for-width(-desktop-med) {
      width: 100%;
      padding: rem(10);
    }

    @include for-width(-mobile-l) {
      font-size: 12px;
    }

    &--active {
      background-color: var(--color-active);

      &:focus {
        background-color: var(--color-active);
      }
    }
  }

  &__content {
    overflow: hidden;
  }

  &__panel {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition-property: opacity, visibility, transform;
    transition-duration: 0.9s;
    transition-timing-function: ease;

    &--active {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translate(0);
      animation: carousel 0.9s ease;
  }
  }
}

@keyframes carousel {
  0% {
    transform: translateX(-100%);
  }

  to {
    transform: translate(0);
  }
}