.contacts {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 9%;
    bottom: 1%;
    width: 307px;
    height: 307px;
    background-image: url("../img/sprite.svg#hexan");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @include for-width(-tablet) {
      width: 207px;
      height: 207px;
    }
  }

  &__inner {
    @include flex-sb;

    @include for-width(-desktop-lg) {
      justify-content: space-around;
    }

    @include for-width(-mobile-l) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 25px;
    }
  }

  &__title {
    @include adaptive_size("font-size", 26, 20);

    margin-bottom: rem(49);
    text-align: left;

    @include for-width(-tablet) {
      text-align: center;
    }
  }

  &__list {
    display: grid;
    margin-right: 15px;
    grid-template-columns: repeat(4, auto);
    gap: rem(50);

    @include for-width(-desktop-lg) {
      gap: rem(25);
    }

    @include for-width(-desktop-med) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-l) {
      margin: 0;
      gap: 15px;
    }
  }

  &__item {
    display: grid;
    position: relative;
    font-size: 14px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      mask-image: url("../img/sprite.svg#email");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 24px;
      height: 24px;
      background-color: var(--color-blue);
    }

    a {
      display: block;
      margin-bottom: 10px;
      transition: color 0.3s linear;

      &:hover {
        color: var(--color-blue);
      }
    }

    span:not([class]) {
      display: inline-block;
      margin-bottom: 12px;
      padding-left: clamp(20px, 2.5rem, 45px);
    }

    &--mail {
      &::before {
        mask-image: url("../img/sprite.svg#email");
      }
    }

    &--phone {
      &::before {
        mask-image: url("../img/sprite.svg#phone");
      }
    }

    &--schedule {
      pointer-events: none;

      &::before {
        mask-image: url("../img/sprite.svg#schedule");
      }
    }

    &--location {
      width: 100%;
      max-width: 185px;

      &::before {
        mask-image: url("../img/sprite.svg#location");
      }
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 12px;
    padding-left: clamp(20px, 2.5rem, 45px);
  }
}

.contacts-form {
  width: 100%;
  max-width: 485px;

  &__title {
    @include adaptive_size("font-size", 26, 20);

    margin-bottom: rem(49);
    text-align: left;

    @include for-width(-tablet) {
      text-align: center;
    }
  }
}