.dentures {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 10%;
    top: -10%;
    z-index: -2;
    width: 309px;
    height: 309px;
    background-image: url("../img/sprite.svg#hexan");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @include for-width(-mobile-l) {
      top: 0;
      width: 230px;
      height: 230px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(70);

    @include for-width (-mobile-md) {
      grid-template-columns: repeat(1, 1fr);
      gap: rem(40);
    }
  }

  &__item {
    @include for-width (-desktop-med) {
      text-align: center;
    }
  }

  &__box {
    margin-bottom: rem(24);
  }

  h3 {
    margin: 0 auto rem(29);
  }

 a {
    text-decoration: underline;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-active);
    }
  }
}
