.gallery {
  position: relative;

  .btn {
    margin: 0 auto;
  }

  &::before {
    content: "";
    position: absolute;
    right: 5%;
    bottom: 6%;
    width: 138px;
    height: 135px;
    background-image: url("../img/sprite.svg#chemical");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    @include for-width(-desktop-med) {
      bottom: -2%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: rem(66);
    gap: 10px;

    &--dentures {
      gap: 5px 10px;
    }

    &--main {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      margin-bottom: rem(70);
      gap: 5px 10px;
    }

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include for-width(-mobile-l) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: rem(30);
      gap: 10px;
    }
  }

  &__item {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(0.97);
    }

    &:nth-child(n + 13) {
      display: none;
    }

    &.is-visible {
      display: block;
    }
  }

  &__more {
    margin: 0 auto;
    width: 100%;
    max-width: 350px;

    @include for-width(-mobile-s) {
      max-width: 300px;
    }
  }
}
