.page {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 500;
  font-feature-settings: "pnum"on, "lnum"on;
  @include adaptive_size("font-size", 16, 14);
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-black);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  &__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
  }
}

.site-container {
  @include footerToBottom;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

section {
  margin-bottom: rem(190);

  @include for-width(-desktop-med) {
    margin-bottom: rem(100);
  }

  @include for-width(-mobile-l) {
    margin-bottom: rem(50);
  }
}

.main {
  padding-top: rem(52);

  @include for-width(-tablet) {
    padding-top: rem(30);
  }
}

.title {
  @include h1;

  &--second {
    width: 100%;
    max-width: 685px;
  }

  @include for-width(-tablet) {
    margin: 0 auto rem(50);
  }
}

h3 {
  @include h2;
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
  transition: color 0.3s linear, background-color 0.3s linear;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    mask-image: url("../img/sprite.svg#small-arrow");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 16px;
    height: 16px;
    background-color: var(--color-white);
    transition: background-color 0.3s linear;

    @include for-width(-mobile-l) {
      width: 14px;
      height: 14px;
    }
  }

  &:hover {
    color: var(--color-active);

    &::before {
      background-color: var(--color-active);
    }
  }
}

.logo {
  @include flex-all-center;

  margin: 0 auto;
  width: 100%;
  max-width: 107px;
}

.scroll {
  display: none;

  @include for-width(-mobile-l) {
    display: flex;
    overflow: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    scrollbar-color: var(--color-active) var(--color-white);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: var(--color-white);
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: var(--color-active);
    }
  }
}

.btn {
  @include flex-all-center;

  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: rem(17) rem(75) rem(17) rem(49);
  line-height: 1.6;
  max-width: fit-content;
  white-space: nowrap;
  color: var(--color-white);
  background-color: var(--color-blue);
  transition-property: color, background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  @include for-width(-desktop-med) {
    padding: rem(15) rem(55) rem(15) rem(40);
  }

  &::before {
    content: "";
    position: absolute;
    right: 44px;
    mask-image: url("../img/sprite.svg#small-arrow");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 16px;
    height: 16px;
    background-color: var(--color-white);

    @include for-width(-desktop-med) {
      right: 30px;
      width: 14px;
      height: 14px;
    }
  }

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: 2px;
  }

  &:hover {
    border: 1px solid var(--color-white);
  }

  &:active {
    background-color: var(--color-active);
  }

  &--second {
    border: 1px solid var(--color-white);
    padding: rem(17) rem(84) rem(17) rem(45);
    background-color: transparent;

    @include for-width(-desktop-med) {
      padding: rem(15) rem(45) rem(15) rem(25);
    }

    &::before {
      content: "";
      position: absolute;
      right: 47px;
      mask-image: url("../img/sprite.svg#pdf");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 24px;
      height: 24px;
      background-color: var(--color-white);
      transition: background-color 0.3s linear;

      @include for-width(-desktop-med) {
        right: 15px;
        width: 20px;
        height: 20px;
      }

      @include for-width(-mobile-l) {
        width: 16px;
        height: 16px;
      }
    }

    &:hover {
      border: 1px solid var(--color-active);
      color: var(--color-active);

      &::before {
        background-color: var(--color-active);
      }

      &:active {
        background-color: transparent;
      }
    }
  }

  &--cursor {
    padding: rem(17) rem(163) rem(17) rem(120);

    &::before {
      content: "";
      position: absolute;
      right: 120px;
      mask-image: url("../img/sprite.svg#cursor");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 27px;
      height: 27px;
      background-color: var(--color-white);

      @include for-width(-tablet) {
        right: 20px;
      }
    }

    @include for-width(-tablet) {
      padding: rem(17) rem(60) rem(17) rem(60);
    }
  }

  &--show-more {
    display: flex;
    margin: 0 auto;
    border: 1px solid var(--color-white);
    width: 100%;
    max-width: 275px;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      right: 45px;
      mask-image: url("../img/sprite.svg#show-more");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 20px;
      height: 20px;
      background-color: var(--color-white);
      transition: background-color 0.3s linear;
    }

    &:hover {
      border: 1px solid var(--color-active);
      color: var(--color-active);

      &::before {
        background-color: var(--color-active);
      }

      &:active {
        background-color: transparent;
      }
    }
  }

  &--telegram {
    border: 1px solid var(--color-white);
    padding: rem(17) rem(84) rem(17) rem(45);
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      right: 45px;
      mask-image: url("../img/sprite.svg#telegram");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 24px;
      height: 24px;
      background-color: var(--color-white);
    }

    &:hover {
      border: 1px solid var(--color-active);
      color: var(--color-active);

      &::before {
        background-color: var(--color-active);
      }

      &:active {
        background-color: transparent;
      }
    }
  }

  &--instagram {
    border: 1px solid var(--color-white);
    padding: rem(17) rem(84) rem(17) rem(45);
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      right: 45px;
      mask-image: url("../img/sprite.svg#instagram");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 24px;
      height: 24px;
      background-color: var(--color-white);
    }

    &:hover {
      border: 1px solid var(--color-active);
      color: var(--color-active);

      &::before {
        background-color: var(--color-active);
      }

      &:active {
        background-color: transparent;
      }
    }
  }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
}

.hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.slider-btn {
  position: absolute;
  right: 0;
  top: 57px;
  width: 30px;
  height: 30px;
  transition: background-color 0.3s linear;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    mask-image: url("../img/sprite.svg#arrow");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 30px;
    height: 30px;
    background-color: var(--color-white);

    @include for-width(-mobile-l) {
      width: 20px;
      height: 20px;
    }
  }

  &--reverse {
    right: 60px;

    @include for-width(-mobile-l) {
      right: 30px;
    }

    &::before {
      transform: rotate(-180deg);
    }
  }

  &:hover::before {
    background-color: var(--color-active);
  }

  @include for-width(-mobile-l) {
    width: 20px;
    height: 20px;
  }
}

.slider-btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.chats {

  @include flex-all-center;

  position: fixed;
  right: calc((100% - 1440px) / 2);
  bottom: rem(40);
  border: 1px solid var(--color-white);
  padding: rem(15) rem(30);
  width: 84px;
  height: 54px;
  transition: border 0.3s linear;
  z-index: 20;

  &::before {
    content: "";
    position: absolute;
    mask-image: url("../img/sprite.svg#chats");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 24px;
    height: 24px;
    background-color: var(--color-white);
    transition: background-color 0.3s linear;
  }

  &:hover {
    border: 1px solid var(--color-blue);

    &::before {
      background-color: var(--color-blue);
    }
  }

  &:active {
    border: 1px solid var(--color-active);

    &::before {
      background-color: var(--color-active);
    }
  }

  @include for-width(-desktop-lg) {
    right: rem(16);
  }

  @include for-width(-tablet) {
    width: 54px;
    height: 34px;
  }
}

.text {
  margin: 0 auto;
  width: 100%;
  max-width: 685px;
  text-align: center;
}

.content {
  @include flex-all-center;
  gap: rem(50);

  @include for-width(-mobile-sl) {
    flex-direction: column;
    gap: rem(25);
  }
}

.link {
  @include adaptive_size("font-size", 16, 14);

  position: relative;
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
  transition: color 0.3s linear, background-color 0.3s linear;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    mask-image: url("../img/sprite.svg#small-arrow");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 16px;
    height: 16px;
    background-color: var(--color-white);
    transition: background-color 0.3s linear;

    @include for-width(-mobile-l) {
      width: 14px;
      height: 14px;
    }
  }

  &:hover {
    color: var(--color-active);

    &:before {
      background-color: var(--color-active);
    }
  }

  @include for-width(-mobile-sl) {
    padding-right: 15px;
  }
}

.maps {
  min-height: 600px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.burger {
  display: none;

  @include burger;

  @include for-width(-tablet) {
    display: block;
  }
}

.dis-scroll {
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */

  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}